
.list{
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-row-gap: 20px;
	max-height: min-content;
}
.chats_item{
	width: 100%;
	display: inline;
	max-height: min-content;
}
.sended{
	float: right;
	background-color: #00f;
	max-height: min-content;
}
.received{
	max-height: min-content;
	float: left;
	background-color: #0f0;
}
.chat_box{
	word-wrap: break-word;
	height: 100%;
	border: none;
	border-radius: 4px;
	padding: 4px;
	color: white;
	font-family: Calibri;
	font-weight: bold;
	resize: none;
	display: inline;
	max-width: 50%;
	max-height: min-content;
}
body{
	-ms-overflow-style: none;
}
body::-webkit-scrollbar{
	display: none;
}
