body{
    background: linear-gradient(45deg , rgb(0, 20, 255),rgb(67, 125, 255),rgb(11, 83, 189),rgb(0, 123, 255));
    background-size: 400% 400%;
    animation: move_bg 10s linear infinite;
}
@keyframes move_bg{
    0%{background-position: 0% 50%;}
    40%{background-position: 50% 50%;}
    70%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}