.header{
	height:150px;
	background-color:#fff;
	box-shadow:0px 4px 8px 6px #e7e6e6;
}

body{
	background-color:#f9f9f9;
	margin:0;
	overflow-x: hidden;
}

a{
	text-decoration:none;
	padding:5px 10px;
	margin-left:5px;
	background-color:#fff;
}
a:active{
	background-color:#e7e7e7;
	color:red;
}
a:hover{
	background-color:#e7e7e7;
}
a:visited{
	color: #00f;
}
#current_page{
	border:none;
	font-weight:bold;
}
.menu_bar{
	font-family:Sans-Serif,Helvetica;
	bottom:0px;
	display:inline-block;

}
img[src="logo.jpeg"]{
	display:inline-block;
	width:140px;
	height:140px;
}
.ipost_bg{
	width:70.8%;
	background-color:#f9f9f9;
	margin-top:15px;
	float: left;
	height:82%;
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
}
.onlines{
	right: 0;
	top:15px;
	position:relative;
	padding:15px;
	background-color:#fff;
	box-shadow:0px 4px 8px 6px #e7e6e6;
	width:25%;
	height: 82%;
	float: right;
}
h4{
	font-family:Helvetica;
	color: rbga(0,0,0,0.5);
	margin-top:0;
	font-size: 24;
	display: inline-block;
	margin-bottom:15px;
}
h6{
	font-family:Helvetica;
	color: rgba(0,0,255,0.5);
	margin-top:7px;
	font-size: 18;
	display: inline-block;
}
.pep_lst{
	margin-top:10px;
	margin-left:10px;
	border:1px solid rgba(0,0,200,0.3);
	height:91%;
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	padding-block-start: 5px;
}

.ipost{
	width:90%;
	height:400px;
	background-color:#fff;
	position: relative;
	margin: 3%;
	margin-right: 0;
	padding: 10px;
	float: left;
	border:1px solid rgba(0,0,200,0.3);
	padding-block-start: 5px;

}
.post_img{
	display: block;
}
.dis_holder{
	display: inline-block;
}
.post_text{
	display: block;
}
.ipost_btn_holder{
}
.post_btns{
}

div[class^="post"]{
	border-radius: 3px;
}
div[class^="post"]:hover{
	box-shadow: 1px 5px 7px 1px rgba(110, 0, 200, 0.32);
}
